In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 1. Напишіть функцію гіпотези лінійної регресії у векторному вигляді;
def h(x, w_0):
    return np.dot(x, w_0)

In [3]:
# 2. Cтворіть функцію для обчислення функції втрат у векторному вигляді;
def loss_func(x, y, w_0):
    n = x.shape[0]
    return ((h(x, w_0) - y) ** 2).sum() / (2*n)

In [4]:
# 3. Реалізуйте один крок градієнтного спуску;

def grad_step(w_0, grad, learning_rate = 0.001):
    w_0 = w_0 - learning_rate * grad
    return w_0


def grad(x, y, w_0):
    n = x.shape[0]
    result = np.dot(x.T, (h(x, w_0) - y))
    return result / n


def grad_descent(x, y, w_0, num_iter=1000, learning_rate = 0.001, epsilon = 1e-10):
    loss = loss_func(x, y, w_0)
    loss_history = [loss]
    
    for i in range(num_iter):
        d_w = grad(x, y, w_0)
        w_0 = grad_step(w_0, d_w, learning_rate=learning_rate)
        loss = loss_func(x, y, w_0)
        if abs(loss - loss_history[-1]) < epsilon:
            loss_history.append(loss)
            break
        
        loss_history.append(loss)
        
    return w_0, d_w, loss_history

In [5]:
data_house = pd.read_csv('Housing.csv')
data_house

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [6]:
def normalize(value):
  return (value - value.mean())/value.std()

In [7]:
norm_data = pd.DataFrame()
norm_data['price'] = normalize(data_house.price)
norm_data['area'] = normalize(data_house.area)
norm_data['bedrooms'] = normalize(data_house.bedrooms)
norm_data['bathrooms'] = normalize(data_house.bathrooms)
norm_data

        price      area  bedrooms  bathrooms
0    4.562174  1.045766  1.402131   1.420507
1    4.000809  1.755397  1.402131   5.400847
2    4.000809  2.216196  0.047235   1.420507
3    3.982096  1.082630  1.402131   1.420507
4    3.551716  1.045766  1.402131  -0.569663
..        ...       ...       ...        ...
540 -1.575421 -0.990968 -1.307661  -0.569663
541 -1.603676 -1.267448  0.047235  -0.569663
542 -1.612845 -0.705273 -1.307661  -0.569663
543 -1.612845 -1.032440  0.047235  -0.569663
544 -1.612845 -0.599289  0.047235  -0.569663

[545 rows x 4 columns]

In [12]:
y = norm_data["price"].values.reshape(-1, 1)
x = norm_data[['area', 'bathrooms', 'bedrooms']].values
N = x.shape[1]
w_0 = np.linspace(0, 0, N).reshape((N, 1))

In [76]:
W, d_w, loss_history = grad_descent(x, y, w_0, 10000)
loss = loss_history[-1]
print(f'Values: {d_w}')
print(f'Loss func: {loss}')

Values: [[-5.05107431e-05]
 [ 2.40003424e-04]
 [-1.99634364e-04]]
Loss func: 0.2559879790480927

In [77]:
values = np.dot(np.linalg.inv(np.dot(x.T, x)), np.dot(x.T, y))
result = loss_func(x, y, values)
print(f'Loss func: {result}')

Loss func: 0.25598790065321353